.card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.676);
    border-radius: 5px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 20px;
    height: 100%;
    max-width: 500px;
  }
  
  .card-header {
    background-image: linear-gradient(to right, #005B60, #484C89);
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 10px;
    margin-bottom: 0px;
  }