p {
margin: 20px 0 0 0;
color: #005B60;
    a {
    text-decoration: none;
        &:hover{
        text-decoration: underline;
        }
    }
   
}
    .google-container {
        display: flex;
        justify-content: right;
        align-items: center;
      }
      
      .google-container p {
        margin: 30px;
        margin-right: 8px;
      }

      .routing{
        text-align: center;
      }
      
      input.ng-dirty.ng-invalid{
        border: 1px solid red !important;
      }

      .validField{
        color: red;
      }